#system 
.cache/
.config/
.local/
.vscode-server/
.keras/
.nv/
.dotnet/
.claude/
.copilot

#training 
runs/
checkpoint/
checkpoints/
outputs/
logs/

#python 
__pycache__/
*.pyc
*.pt
*.pth
*.ckpt
*.npy

#system files 
.bash_history
.claude.json
.wget-hsts
*.swp

#project
Encoder_Decoder_Direct/
MUNIT/
Pix2Pix_GAN/
UNIT/
DRIT/
CycleGAN/

